<%= form_for @makeup, :html => {:multipart => true} do |f| %>
          
  <div class= "form-group">
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, :required => true, class: "form-control" %>
  </div>   
  
  <div class= "form-group">
    <%= f.label :rating %>
    <%= f.select :rating, ["1","2","3","4","5"], {}, class: "form-control" %>
  </div>

  <div class= "form-group">
    <%= f.label :company, "Compañía" %>
    <%= f.text_field :company, class: "form-control" %>
   </div> 
   
  <div class= "form-group">
    <%= f.label :makeup_description, "Descripción" %>
    <%= f.text_area :makeup_description, class: "form-control" %>
  </div> 
   
  <div class= "form-group">
    <%= f.label :comments, "Reseña" %>
    <%= f.cktext_area :comments, :ckeditor => {:toolbar => "mini"}, class: "form-control" %>
  </div>    
   
  <div class = "form-group">
    <%= f.label :avatar,"Imagen" %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>
  
  <div class= "form-group">
    <%= f.label :release_date, "Fecha de Publicación" %> 
    <%= f.date_select(:release_date, :order => [:month, :day, :year], start_year: 1960) %>
  </div>
  
  
  
  <%= f.submit 'Enviar', class: "btn btn-default" %>
  
<% end %>