<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
          
        <!-- Admin action -->
        <% if current_user.try(:admin?) %>
          <div class='row add-delete-row'>
            <div class="col-sm-offset-8 col-sm-2 col-md-2 col-md-offset-8">
              <%= link_to edit_makeup_path(id: @makeup_show.id), class: "btn btn-default btn-block" do %>
                <i class="fa fa-plus" aria-hidden="true"> Revisar </i>
              <% end %>  
            </div>
            <div class="col-sm-2 col-md-2">
              <%= link_to makeup_path(id: @makeup_show.id), method: :delete, data: {confirm: "Borrar este articulo?"}, class: "btn btn-default btn-block" do %>
                <i class="fa fa-trash-o" aria-hidden="true"> Elimiar </i>
              <% end %>  
            </div>
          </div>
        <% end %>  
        
        <!-- Information Section -->
          <div class='row information-row'>
            <div class = "col-xs-5 col-md-3 avatar-col">  
              <div class= 'column'>
                <%= link_to @makeup_show do %>
                  <% if @makeup_show.avatar? %>
                    <%= image_tag @makeup_show.avatar.url, class: 'avatar-index-img img-responsive center-block' %>
                  <% else %>
                    <%= image_tag 'flower (1).png' %>
                  <% end %>
                <% end %>
                  <h4 class= "text-center brand-text"> Sakura Street's </h4>
                  <p class='text-center avatar-rating'>rating:</p>
                  <div class= 'text-center'> <%= render_stars(@makeup_show.rating) %></div>
              </div>    
            </div>
            
            <div class = "col-xs-12 col-sm-7 col-md-9 description-col">
              <div class = "well d-well column">
                <h1 class="text-center">Título: <%= @makeup_show.title%></h1>
                <h3> Descripción:</h3>
                <p><%= @makeup_show.makeup_description %></p>
                <h3> Compañía: </h3> 
                <p><%= @makeup_show.company %></p>
                <h3> Fecha de Publicación: </h3> 
                <p><%= @makeup_show.release_date.strftime("%b %d %Y ").to_s %></p>
                <h3> Fecha de Reseña: </h3>
                <p><%= @makeup_show.created_at.strftime("%b %d, %Y").to_s %></p>                
              </div>  
            </div> 
          </div>
      
        <!-- Body section -->
          <div class='row body-row'>
            <div class="col-md-12">
              <h2 class= 'text-center body-title'> Opinión </h2>
              <div class= "well d-well">
                <p><%= raw @makeup_show.comments %></p>
              </div>
            </div>
          </div>
        <!-- Comment section render -->
        <%= render 'disqus' %>
  
      </div>  
    </div>  
  </div>
</div>