<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
          
        <!-- Admin action -->
        <% if current_user.try(:admin?) %>
          <div class='row add-delete-row'>
            <div class="col-sm-offset-8 col-sm-2 col-md-2 col-md-offset-8">
              <%= link_to edit_project_path(id: @project_show.id), class: "btn btn-default btn-block" do %>
                <i class="fa fa-plus" aria-hidden="true"> Revisar </i>
              <% end %>  
            </div>
            <div class="col-sm-2 col-md-2">
              <%= link_to project_path(id: @project_show.id), method: :delete, data: {confirm: "Borrar este articulo?"}, class: "btn btn-default btn-block" do %>
                <i class="fa fa-trash-o" aria-hidden="true"> Elimiar </i>
              <% end %>  
            </div>
          </div>
        <% end %>  
        
        <!-- Information Section -->
          <div class='row information-row'>
            <div class = "col-xs-5 col-md-3 avatar-col">  
              <div class= 'column'>
                <%= link_to @project_show do %>
                  <% if @project_show.avatar? %>
                    <%= image_tag @project_show.avatar.url, class: 'avatar-index-img img-responsive center-block' %>
                  <% else %>
                    <%= image_tag 'flower (1).png' %>
                  <% end %>
                <% end %>
                  <h4 class= "text-center brand-text"> Sakura Street's </h4>
                  <p class='text-center avatar-rating'>rating:</p>
                  <div class= 'text-center'> <%= render_stars(@project_show.rating) %></div>
              </div>    
            </div>
            
            <div class = "col-xs-12 col-sm-7 col-md-9 description-col">
              <div class = "well d-well column">
                <h1 class="text-center">Título: <%= @project_show.title%></h1>
                <h3> Descripción:</h3>
                <p><%= @project_show.project_description %></p>
                <h3> Categoría:</h3> 
                <p><%= @project_show.category %></p>
                <!--<h3> Actores: </h3> -->
                <!--<p>%= @project_show.actors %</p>-->
                <!--<h3> Fecha de Publicación: </h3> -->
                <!--<p>%= @project_show.release_date.try(:strftime,"%b %d, %y") %</p>-->
                <h3> Fecha de Reseña: </h3>
                <p><%= @project_show.created_at.try(:strftime,"%b %d, %y") %></p>
              </div>  
            </div> 
          </div>
      
          
          <!-- Chapter List section -->
          
          <!-- Add Chapter Button-->
          
          <div class='row add-delete-row'>
            <div class="col-sm-offset-10 col-sm-2 col-md-2 col-md-offset-10">
              <%= link_to new_project_chapter_path(project_id: @project_show.id), class: "btn btn-default btn-block" do %>
                <i class="fa fa-plus" aria-hidden="true"> Capítulos </i>
              <% end %>  
            </div>
          </div>
          
          <div class='row body-row'>
            <div class="col-md-12">
              <h2 class= 'text-center body-title'> Chapter List </h2>
              <div class= "well d-well">
                
              <% @chapter_list.each do |x| %>
                <div class ='a-well'>
                  <%= link_to project_chapter_path(project_id: @project_show.id, id: x.id) do%>
                    <h4><%= x.chapter_number %></h4>
                  <% end %>  
                </div>    
              <% end %>  

              </div>
            </div>
          </div>          
          
          
        <!-- Comment section render -->
        <%= render 'disqus' %>
  
      </div>  
    </div>  
  </div>
</div>