<!DOCTYPE html>
<html>
  <head>
    <title>Sisblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='banner text-center container-fluid'>
      <h1>SisBlog</h1>
    </div>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class='container'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">SisBlog</a>
      </div>
      <div class="collapse navbar-collapse" id="main-nav-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#">Inicio</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Reseñas <span class="caret"></span>
            </a> <!-- Reseñas main button close--> 
            <ul class="dropdown-menu"> <!-- Reseñas menu -->
              <li><%= link_to "Dramas", dramas_path %></li>
              <li><a href="#">Peliculas</a></li>
              <li><a href="#">Animes</a></li>
              <li><a href="#">Libros</a></li>
              <li><a href="#">Maquillaje</a></li>
              <li><a href="#">Productos Faciales</a></li>
              <li><a href="#">Otros</a></li>
            </ul>
          </li>
          <li><a href="#"> Manualidades </a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Cuidado Personal <span class="caret"></span>
            </a> <!-- Reseñas main button close--> 
            <ul class="dropdown-menu"> <!-- Reseñas menu -->
              <li><a href="#">Autoestima</a></li>
              <li><a href="#">Físico</a></li>
              <li><a href="#">Emocional</a></li>
              <li><a href="#">Cuidados Faciales</a></li>
              <li><a href="#">Otros</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Otros <span class="caret"></span>
            </a> <!-- Reseñas main button close--> 
            <ul class="dropdown-menu"> <!-- Reseñas menu -->
              <li><a href="#">Juegos</a></li>
              <li><a href="#">Música</a></li>
              <li><a href="#">Videos</a></li>
              <li><a href="#">Recetas</a></li>
              <li><a href="#">Reflexiones</a></li>
            </ul>
          </li>
          <li><a href="#"> Sobre Nosotras </a></li>
        </ul> <!-- Navbar link list colapse-->
      </div><!-- /.navbar-collapse -->
    </div>
</nav> 
    <div class= "container">
      <%= yield %>
    </div>
  </body>
</html>
