<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
        
        <div class="chp-btns">
          <% if @prev %>
            <%= link_to project_chapter_path(project_id: @project_id, id: @prev.id), class: 'btn btn-primary' do %> 
              <span class= 'glyphicon glyphicon-circle-arrow-left'></span>
              <span> Previous</span>
            <% end %>
          <% end %>     
          
          <% if @next %>
            <%= link_to project_chapter_path(project_id: @project_id, id: @next.id), class: 'btn btn-primary' do %> 
              <span class= 'glyphicon glyphicon-circle-arrow-right'></span>
              <span> Next</span>
            <% end %>  
          <% end %>
        </div>

          <!-- Chapter List section -->
          <div class='row body-row'>
            <div class="col-md-12">
              <h2 class= 'text-center body-title'> <%= @chapter_show.chapter_number %> </h2>
              <div class= "well d-well">
                
                <%= @chapter_show.chapter_text.html_safe %></p>


              </div>
            </div>
          </div>          
          
        <div class="chp-btns">
          <% if @prev %>
            <%= link_to project_chapter_path(project_id: @project_id, id: @prev.id), class: 'btn btn-primary nav-chp-btn' do %> 
              <span class= 'glyphicon glyphicon-circle-arrow-left'></span>
              <span> Previous</span>
            <% end %>
          <% end %>     
          
          <% if @next %>
            <%= link_to project_chapter_path(project_id: @project_id, id: @next.id), class: 'btn btn-primary nav-chp-btn' do %> 
              <span class= 'glyphicon glyphicon-circle-arrow-right'></span>
              <span> Next</span>
            <% end %>  
          <% end %>
        </div>
        
      </div>  
    </div>  
  </div>
</div>