<%= form_for @anime, :html => {:multipart => true} do |f| %>
          
  <div class= "form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>   
  
  <div class= "form-group">
    <%= f.label :rating %>
    <%= f.select :rating, ["1","2","3","4","5"], {}, class: "form-control" %>
  </div>

  <div class= "form-group">
    <%= f.label :actors %>
    <%= f.text_field :actors, class: "form-control" %>
   </div> 
   
  <div class= "form-group">
    <%= f.label :anime_description %>
    <%= f.text_area :anime_description, class: "form-control" %>
  </div> 
   
  <div class= "form-group">
    <%= f.label :comments %>
    <%= f.cktext_area :comments, :ckeditor => {:toolbar => "mini"}, class: "form-control" %>
  </div>    
   
  <div class = "form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>
  
  <div class= "form-group">
    <%= f.label :release_date %> 
    <%= f.date_select(:release_date, :order => [:month, :day, :year], start_year: 1960) %>
  </div>
  
  
  
  <%= f.submit 'Submit', class: "btn btn-default" %>
  
<% end %>