<%= form_for @craft, :html => {:multipart => true} do |f| %>
          
  <div class= "form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>   
   
  <div class= "form-group">
    <%= f.label :craft_description %>
    <%= f.text_area :craft_description, class: "form-control" %>
  </div> 
  
  <!-- f.cktest_area is a ckeditor method to include its text editor into a form field-->
  <div class= "form-group">
    <%= f.label :comments %>
    <%= f.cktext_area :comments, :ckeditor => {:toolbar => "mini"}, class: "form-control" %>
  </div>    

  <%= f.submit 'Submit', class: "btn btn-default" %>
  
<% end %>