<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
        
        <div class='row function-row '>
          
          <!-- Sorting Links -->
          <div class="dropdown col-sm-8 col-md-8">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort by:
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li>            
                <%= sort_link(@q, :title) do %>
                  Título
                <% end %>   
              </li>
              <li>
                <%= sort_link(@q, :category) do %>
                  Categoría
                <% end %>       
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= sort_link(@q, :created_at) do %>
                  Fecha Reseña
                <% end %>      
              </li>
            </ul>
          </div> 
          
          <!-- Index Search bar! -->
          <div class = "index-search-box">
            <%= render 'title_search_box'%>
          </div>
        </div>
        
        <div class= 'btn-div'>
          <% if current_user.try(:admin?) %>
            <div class="col-sm-2 col-md-1">
              <%= link_to new_care_path, class: "btn btn-default btn-block fa fa-plus" do %>
              <% end %>
            </div>
          <% end %>
        </div> <!--function-row end -->


        <table id = "care-table" class='col-sm-12 col-md-12'>
          <tr>
            <th></th> <!-- No name for column -->
          </tr>
          <!-- Iterates through hash and checks if string query is present -->
          <% @cares.each do |care| %>
            <tr>
              <% if @category.nil? %>
              <td>
                <!-- Table Data! -->
                <div class = 'row results-row'>
                  <!-- Image spacing and link_to -->
                  <div class ='col-xs-4 col-md-3 avatar-col-index'>
                    <div class ='index-column'>
                      <%= link_to care do %>
                        <% if care.avatar? %>
                          <%= image_tag care.avatar.url, class: 'avatar-index-img img-responsive center-block' %>
                        <% else %>
                          <%= image_tag "flower (1).png", class: 'avatar-index-img img-responsive center-block' %>
                        <% end %>  
                      <% end %>
                    </div>
                  </div>   
                  <!-- Information spacing and link_to -->
                  <div class ='col-xs-12 col-sm-8 col-md-9 description-col-index'>
                     <div>
                        <%= link_to care do %>
                          <h2> <%= care.title%></h2>
                        <% end %>
                      </div>
                    <p><%= care.care_description %></p>
                  </div>
                </div>
              </td>
            </tr>                
            <!-- Else if a string query is found... -->
            <tr>
            <% elsif care.category.to_s == @category.to_s %>
              <td>
                <!-- Table Data! -->
                <div class = 'row results-row'>
                  <!-- Image spacing and link_to -->
                  <div class ='col-xs-4 col-md-3 avatar-col-index'>
                    <div class ='index-column'>
                      <%= link_to care do %>
                        <% if care.avatar? %>
                          <%= image_tag care.avatar.url, class: 'avatar-index-img img-responsive center-block' %>
                        <% else %>
                          <%= image_tag "flower (1).png", class: 'avatar-index-img img-responsive center-block' %>
                        <% end %>  
                      <% end %>
                    </div>
                  </div>   
                  <!-- Information spacing and link_to -->
                  <div class ='col-xs-12 col-sm-8 col-md-9 description-col-index'>
                     <div>
                        <%= link_to care do %>
                          <h2> <%= care.title%></h2>
                        <% end %>
                      </div>
                    <p><%= care.care_description %></p>
                  </div>
                </div>
              </td>
            </tr>
            <% end %>
          <% end %> <!-- each loop end-->  
        </table>
        
        <%= will_paginate @posts %>

      </div>
    </div>
  </div>
</div>  