<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-12">
          
        <!-- Admin action -->
        <% if user_signed_in? %>
          <div class='row add-delete-row'>
            <div class="col-sm-offset-8 col-sm-2 col-md-2 col-md-offset-8">
              <%= link_to edit_care_path(id: @care_show.id), class: "btn btn-default btn-block" do %>
                <i class="fa fa-plus" aria-hidden="true"> Revisar </i>
              <% end %>  
            </div>
            <div class="col-sm-2 col-md-2">
              <%= link_to care_path(id: @care_show.id), method: :delete, data: {confirm: "Borrar este articulo?"}, class: "btn btn-default btn-block" do %>
                <i class="fa fa-trash-o" aria-hidden="true"> Elimiar </i>
              <% end %>  
            </div>
          </div>
        <% end %>  
        
        <!-- Information Section -->

        <div class='row information-row'>
          <div class = "col-xs-12 col-sm-12 col-md-12 description-col">
            <div class = "well d-well column">
              <h1 class="text-center">Titulo: <%= @care_show.title%></h1>
              <h3> Categoria</h3> 
              <p> <%= @care_show.category %></p>
              <h3> Descripcion:</h3>
              <p><%= @care_show.care_description %></p>
            </div>  
          </div> 
        </div>

        <!-- Body section -->
          <div class='row body-row'>
            <div class="col-md-12">
              <h2 class= 'text-center body-title'> Opinion </h2>
              <div class= "well d-well">
                <p><%= raw @care_show.comments %></p>
              </div>
            </div>
          </div>
        <!-- Comment section render -->
        <%= render 'disqus' %>
  
      </div>  
    </div>  
  </div>
</div>