<div class='container-fluid'>
  <div class='well resenas-well'>
      <div class= 'well well-sm mini-well-resenas'>
        <div class= 'row row-resenas'>
            <div class= 'col-md-4'>
              <div class= "anime">
                <h2> <%= link_to "Todos los Articulos", cares_path %></h2>
                <h2><%= link_to "Autoestima", cares_path(cat: "Autoestima") %></h2> 
                <p> Descripcion blablabla </p>
                <h2><%= link_to "Fisico", cares_path(cat: "Fisico") %></h2>
                <p> Descripcion blablabla </p>
                <h2><%= link_to "Emocional", cares_path(cat: "Emocional") %></h2>
                <p> Descripcion blablabla </p>
                <h2><%= link_to "Cuidados Faciales", cares_path(cat: "Cuidado Facial") %></h2> 
                <p> Descripcion blablabla </p>
                <h2><%= link_to "Otros", cares_path(cat: "Otros") %></h2>
                <p> Descripcion blablabla </p>
              </div>
            </div>
    
        </div>
      </div>
    </div>
  </div> <!-- well closing div--> 
</div>     




<div class='container-fluid'>
  <div class='row'>
    <div class = "col-md-12">
      <div class="panel panel-default">
        <!-- Panel contents -->
        <div class="panel-heading"> Activity Log </div>
        <!-- Using public_activity to collect information of tracked models and display it-->
        <% @activities.each do |activity| %>
          <!--render_activity looks for partials under views/public_activity/model-->
          <ul class= 'list-group'>
            <li class= 'list-group-item'><%= render_activity activity %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
