<div class='container-fluid'>
  <div class='well resenas-well'>
    <div class= 'well well-sm mini-well-resenas'>
      
      <div class= 'row resenas-row'>
        <div class= 'col-md-6'>
          <div class= "anime">
            <h1> <%= link_to "Todos nuestras recomendaciones!", recommendations_path %></h1>
            <h2><%= link_to "Juegos", recommendations_path(cat: "Juegos") %></h2> 
            <p> Descripcion blablabla </p>
            <h2><%= link_to "Musica", recommendations_path(cat: "Musica")%></h2>
            <p> Descripcion blablabla </p>
            <h2><%= link_to "Videos",recommendations_path(cat: "Videos") %></h2>
            <p> Descripcion blablabla </p>
            <h2><%= link_to "Recetas", recommendations_path(cat: "Recetas")%></h2> 
            <p> Descripcion blablabla </p>
            <h2><%= link_to "Reflexiones",recommendations_path(cat: "Reflexiones")%></h2>
            <p> Descripcion blablabla </p>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- well closing div--> 
</div>     




<div class='container-fluid'>
  <div class='row'>
    <div class = "col-md-12">
      <div class="panel panel-default">
        <!-- Panel contents -->
        <div class="panel-heading"> Activity Log </div>
        <!-- Using public_activity to collect information of tracked models and display it-->
        <!-- In the controller file, activities_by_ctrl is conditioned to display certain entries 
        that belongs to a specific controller -->
        <% @activities_by_ctrl.each do |activity| %>
          <!--render_activity looks for partials under views/public_activity/model-->
          <ul class= 'list-group'>
            <li class= 'list-group-item'><%= render_activity activity %></li>
          </ul>
       <% end %>
      </div>
    </div>
  </div>
</div>
