<% if user_signed_in? %>
  <div class='container-fluid'>
    <div class='row add-delete-row'>
      <div class="col-sm-offset-8 col-sm-2 col-md-2 col-md-offset-8">
        <%= link_to edit_movie_path(id: @movie_show.id), class: "btn btn-default btn-block" do %>
          <i class="fa fa-plus" aria-hidden="true"> Update </i>
        <% end %>  
      </div>
      <div class="col-sm-2 col-md-2">
        <%= link_to movie_path(id: @movie_show.id), method: :delete, data: {confirm: "Really delete this profile?"}, class: "btn btn-default btn-block" do %>
          <i class="fa fa-trash-o" aria-hidden="true"> Delete </i>
        <% end %>  
      </div>
    </div>
  </div>  
<% end %>  

<div class='container-fluid'>
  <div class='row information-row'>
    <div class = "col-xs-5 col-md-3 avatar-col">  
      <div class= 'column'>
        <%= image_tag @movie_show.avatar.url, class: 'avatar-show-img img-responsive img-thumbnail center-block' %>
        <h4 class= "text-center"> Sakura Street's rating: </h4>
        <div class= 'text-center'> <%= render_stars(@movie_show.rating) %></div>
      </div>    
    </div>
    
    <div class = "col-xs-12 col-sm-7 col-md-9 description-col">
      <div class = "well column">
        <h3 class="text-center">Titulo: <%= @movie_show.title%></h3>
        <h3> Descripcion:</h3>
        <p><%= @movie_show.movie_description %></p>
        <h4> Categoria</h4> 
        <p><%= @movie_show.category %></p>
        <h4> Actores </h4> 
        <p><%= @movie_show.actors %></p>
        <h4> Fecha de Publicacion </h4> 
        <p><%= @movie_show.release_date.to_s %></p>
      </div>  
    </div> 
  </div>
</div>     

<div class='container'>
  <div class='row'>
    <div class="col-md-10 col-md-offset-1">
      <h2> Opinion </h2>
      <div class= "well">
        <p><%= raw @movie_show.comments %></p>
      </div>
    </div>
  </div>
</div>  


