<div class="index-header">
  <div class= "container">
    <div class = "row">
      <div class = "col-md-8 col-md-offset-2">
        <h1 class = "text-center"> Listado de Articulos de Productos Faciales </h1>
      </div>
    </div>
  </div>
</div>  
        

<!-- Temporary add btn -->  
<% if user_signed_in? %>
  <div class='container'>
    <div class='row'>
      <div class="col-sm-2 col-sm-offset-10 col-md-2 col-md-offset-10">
        <%= link_to new_facial_product_path, class: "btn btn-default btn-block" do %>
          <i class="fa fa-plus" aria-hidden="true"> Añade </i>
        <% end %>
      </div>
    </div>
  </div>  
<% end %>  

<!-- Index Search bar! -->
<div class = "index-search-box">
  <%= render 'title_search_box'%>
</div>

<!-- Sorting Links -->
<div class = 'container-fluid'>
  <div class = 'row sorting-row'>
    <div class = 'col-sm-2 col-md-2 col-md-offset-1'>
      <strong>Ordenar por:</strong>
    </div>
    <div class ="col-sm-2 col-sm-offset-0 col-md-offset-0 col-md-2">
      <%= sort_link(@q, :title) do %>
        <strong>Nombre</strong>
      <% end %>      
    </div>
    <div class ="col-sm-2 col-md-2">
      <%= sort_link(@q, :rating) do %>
        <strong>Rating </strong>
      <% end %>
    </div>    
    <div class ="col-sm-3 col-md-2">
      <%= sort_link(@q, :release_date) do %>
        <strong>Fecha Publicacion </strong>
      <% end %>      
    </div>
    <div class ="col-sm-3 col-md-2">
      <%= sort_link(@q, :created_at) do %>
        <strong>Fecha Reseña </strong>
      <% end %>
    </div>
  </div>
</div>

<table id = "facialproduct-table" class='col-sm-12 col-md-12'>
  <tr>
    <th></th> <!-- No name for column -->
  </tr>
  <!-- Iterates through hash and checks if string query is present -->
  <% @facialproducts.each do |facialproduct| %>
    <tr>
      <td>
        <!-- Table Data! -->
        <div class = "container-fluid">
          <div class = 'row results-row'>
            <!-- Image spacing and link_to -->
            <div class ='col-xs-4 col-md-3 avatar-col-index'>
              <div class ='index-column'>
                <%= link_to facialproduct do %>
                  <%= image_tag facialproduct.avatar.url, class: 'avatar-index-img img-responsive center-block' %>
                <% end %>
                <h4 class= "text-center"> Sakura Street's rating: </h4>
                <div class= 'text-center'> <%= render_stars(facialproduct.rating) %></div>
              </div>
            </div>   
            <!-- Information spacing and link_to -->
            <div class ='col-xs-12 col-sm-8 col-md-9 description-col-index'>
               <div>
                  <%= link_to facialproduct do %>
                    <h2> <%= facialproduct.title%></h2>
                  <% end %>
                </div>
              <h4><%= facialproduct.company %></h4>
              <p><%= facialproduct.facialproduct_description %></p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  <% end %> <!-- each loop end-->  
</table>